{%
  set classes = [
    'tags',
  ]
%}

{% set tags_title_id = 'tags-title-' ~ random() %}

<div{{ attributes.addClass(classes) }}>
  {% if title %}
    <div id="{{ tags_title_id }}" class="tags__title">{{ title }}</div>
  {% endif %}
  <ul {% if title %}aria-labelledby="{{ tags_title_id }}"{% endif %} class="tags__list">
    {% for item in items %}
      <li{{ item.attributes.addClass('tags__item') }}>
        {{ include('dripyard_base:pill', { content: item.content }, with_context = false) }}
      </li>
    {% endfor %}
  </ul>
</div>
